.blog {
    margin-top: 300px;

    &__slider {
        margin-top: 62px;
        position: relative;
        &-inner {
            display: flex;
            align-items: flex-start;

            @media screen and (max-width: $screen-sm-down) {
                flex-direction: column;
            }
        }
        &-item {
            border: 0.5px solid #000000;
            max-width: 1000px;
            margin: auto;
            &.swiper-slide-active {
                opacity: 1 !important;
            }

            @media screen and (max-width: $screen-sm-down) {
                padding: 0 18px;
                border: none;
            }
        }
    }

    .swiper-wrapper {
        max-width: 1000px;
        margin: auto;
    }

    &__img {
        width: 100%;
        max-width: 450px;

        img {
            display: block;
            width: 100%;
        }

        @media screen and (max-width: $screen-sm-down) {
            max-width: 100%;
        }
    }

    &__text {
        padding: 30px 50px;
        width: 100%;

        @media screen and (max-width: $screen-sm-down) {
            padding: 20px 0px 0 0px;
        }
    }

    .swiper-slide-next {
        opacity: 0;
        visibility: hidden;
    }

    .swiper-button__wrap {
        position: relative;
        width: 100%;
        margin-top: 103px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;


        @media screen and (max-width: $screen-sm-down) {
            align-items: flex-start;
            top: 20%;
        }
    }
    .swiper-button-prev {
        display: block;
        width: 50px;
        position: unset;
        margin-right: 42px;
        &:after {
            content: '';
        }
        svg {
            transform: rotate(-180deg);
        }
    }

    .swiper-button-next {
        display: block;
        width: 50px;
        position: unset;
        &:after {
            content: '';
        }
    }

    @media screen and (max-width: $screen-sm-down) {
        .common__subtitle {
            padding: 0 18px;
        }
    }

    @media screen and (max-width: $screen-sm-down) {
        margin-top: 80px;
    }
}