<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="x-ua-compatible" content="ie=edge"/>

  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="">
  <meta name="googlebot" content="">
  <meta name="google" content="notranslate">
  <meta name="format-detection" content="telephone=no">

  <!-- Open Graph -->
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:locale" content="ru_RU"/>
  <meta property="og:locale:alternate" content="fr_FR"/>
  <meta property="og:locale:alternate" content="es_ES"/>
  <meta property="og:locale:alternate" content="en_GB"/>
  <meta property="og:site_name" content=""/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">

  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF"/>
  <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>

  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- Custom styles -->
  <link rel="stylesheet" href="styles/main.css">


  <!-- Title -->
  <title>Депиляция в Железногорске!</title>

</head>
<body>
@@include("../blocks/modules/main__screen/main__screen.html")
@@include("../blocks/modules/reasons/reasons.html")
@@include("../blocks/modules/price/price.html")
@@include("../blocks/modules/about/about.html")
@@include("../blocks/modules/reviews/reviews.html")
@@include("../blocks/modules/blog/blog.html")
@@include("../blocks/modules/form/form.html")
@@include("../blocks/modules/contacts/contacts.html")
@@include("../blocks/modules/modal/modal.html")



<!--SCRIPTS-->
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<0e2840b6-b758-46b8-9ecd-98b4266fd2e5>" type="text/javascript"></script>
<script src="js/libs/jquery-3.4.1.min.js"></script>
<script src="js/libs/swiper.min.js"></script>
<script src="js/libs/jquery.mask.js"></script>
<script src="js/libs/jquery.datetimepicker.full.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>

