.reviews {
    margin-top: 195px;
    &__inner {
        position: relative;
        margin-top: 120px;

        @media screen and (max-width: $screen-md-down) {
            margin-top: 30px;
            padding-right: 18px;
        }
    }

    &__back {
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: $screen-md-down) {
                display: none;
            }
        }
    }

    &__slider {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        max-width: 900px;
        z-index: 1;
        width: 100%;
        transform: translate(-50px, -50px);  

        &-item {
            position: relative;   
            @media screen and (max-width: $screen-sm-down) {
                width: 100%;
            }           
        }

        &-inner {
            border: 0.5px solid #000000;
            width: calc(100% - 100px);
            margin-left: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 400px;
            background: #ffffff;
            padding-left: 246px;
            padding-right: 127px;

            @media screen and (max-width: $screen-sm-down) {
               padding-left: 90px;
               padding-right: 14px;
               width: calc(100% - 68px);
               margin-right: 18px;
            }
        }

        &-title {
            font-size: 30px;
            margin-bottom: 60px;
        }

        @media screen and (max-width: $screen-md-down) {
            position: relative;
            transform: translate(0);
        }
    }

    &__avatar {
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
        width: 200px;
        height: 200px;
        bottom: 0;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        @media screen and (max-width: $screen-sm-down) {
            width: 100px;
            height: 100px;
        }
    }

    .swiper-slide-next {
        opacity: 0;
        visibility: hidden;
    }

    .swiper-button__wrap {
        width: 100%;
        margin-top: 103px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-button-prev {
        display: block;
        width: 50px;
        position: unset;
        margin-right: 42px;
        &:after {
            content: '';
        }
        svg {
            transform: rotate(-180deg);
        }
    }

    .swiper-button-next {
        display: block;
        width: 50px;
        position: unset;
        &:after {
            content: '';
        }
    }

    @media screen and (max-width: $screen-sm-down) {
        margin-top: 0;
       .common__subtitle {
           padding-left: 18px;
           padding-right: 18px;
       }
    }
}