.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform .7s;
    &--reviews {
        background-image: url(../img/main/main-screen/screen.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.active {
        transform: translateX(0);
    }

    &__inner {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .form {
        margin-top: 58px;
    }

    .button__back {
        margin-top: 5px;
    }
}