.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform .7s;
    overflow: auto;
    &--reviews {
        background-image: url(../img/main/main-screen/screen.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &.active {
        transform: translateX(0);
    }

    &__inner {
        display: flex;
        padding-top: 96px;
        height: 100%;
        max-width: 1200px;
        margin: auto;
    }

    .form {
        margin-top: 58px;
    }

    .button__back {
        margin-top: 5px;
    }

    &--price {
        background: rgba(227, 227, 227, 0.7);
        width: 100%;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    &__wrap {
        max-width: 1000px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__block {
        position: relative;
        padding: 55px 160px;

        @media screen and (max-width: $screen-xl-down) {
            padding: 30px;
        }
    }

    &__price {
        position: relative;
        background: rgba(227, 227, 227, 0.7);
        padding: 55px 61px;
        margin-top: 48px;

        .price__part {
            color: #fff;
            &:before {
                background-color: #fff;
            }

            @media screen and (max-width: $screen-xl-down) {
                display: none;
            }
        }

        &-title {
            display: block;
            width: 100%;
            font-size: 30px;
            text-align: center;

            &--second {
                margin-top: 60px;
            }
        }

        &-subtitle {
            font-weight: 300;
            font-size: 14px;
            display: block;
            width: 100%;
            text-align: center;
        }

        @media screen and (max-width: $screen-sm-down) {
            padding: 20px;
        }
    }

    &__list {
        margin-top: 30px;
        font-size: 30px;

        &-item {
            display: flex;
            align-items: baseline;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }

            @media screen and (max-width: $screen-sm-down) {
                margin-bottom: 10px;
            }
        }

        &-title {
            width: 70%;

            &--small {
                width: 58%;
            }
        }

        &-subtitle {
            font-size: 20px;

            @media screen and (max-width: $screen-sm-down) {
                font-size: 16px;
            }
        }

        &-divider {
            width: 100px;
            height: 1px;
            background: #000000;

            &--transparent {
                background: transparent;
            }

            @media screen and (max-width: $screen-sm-down) {
                width: 20px;
            }
        }

        &-price {
            width: 100%;
            max-width: 63px;
            margin-left: 42px;

            @media screen and (max-width: $screen-sm-down) {
                width: 33px;
                margin-left: 23px;
            }

            &--price {
                max-width: 93px;
                @media screen and (max-width: $screen-sm-down) {
                    width: 50px;
                }
            }
        }

        @media screen and (max-width: $screen-sm-down) {
            font-size: 16px;
        }
    }
}